header {
    background-color: #4c838d;
    border-bottom: 10px solid black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between ;

}

header img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: transform 90ms linear
}

header img:hover {
    transform: scale(2);
}

nav { 
    text-align: right;
}

nav a {
    color: white;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    line-height: 60px;
    display: inline-flex;
    align-items: center;
}

a:before {
    content: "";
    background-color: #e4ffd4;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

nav a:hover {
    color: #edc68e;
}

#button {
    display: inline-block;
    background-color: #E6626F;
    height: 60px;
    padding: 0 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
    transition: transform 80ms cubic-bezier(.49,.41,.43,2.63), background-color 80ms linear;
}

#button:hover {
    background-color: #edc68e;
    transform: scale(1.08);
    color: #FFF;
}

/* PALETA DE CORES
    .azul clarinho { #e4ffd4 };
    .beje { #ebe7a7 };
    .beje saturado { #edc68e };
    .cinza marrom { #a49e7e };
    .azul escuro { #6e8f85 };
    .azul escuro saturado { #4c838d }

*/


/* ANOTAÇÕES ESTUDO
- NO DISPLAY INLINE NÃO SE PERMITE ALTERAÇÃO DE ALTURA.. POR ISSO MUDAR PARA INLINE BLOCK!
- PARA CENTRALIZAR O TEXTO VERTICALMENTE O LINE HEIGHT DEVE SER IGUAL AO HEIGHT.

COMPORTAMENTOS DE DISPLAY
    #O display diz respeito a como o container do elemento vai se comportar 
    - INLINE
        elementos ficam na mesma linha (como texto / palavras)
        nao permite alteração de width e height
        possui comportamento de palavra
            padrão do <a>
    - BLOCK
        o elemento ocupa toda a linha (largura) sozinho. 
        Portanto, são adds em coluna (um abaixo do outro)
        tem comportamento de bloco / conteiner msm (da pra mudar width e height)
        padrão do <nav> e <header>
    - INLINE-BLOCK
        São blocos/ conteiners menores que ficam em linha 
        (não ocupam sozinhos toda a largura)
        permite ficar na mesma linha
        permite alterar width e height
        tem comportamento de palavra
    - FLEX
        O flex, como o nome sugere, possui uma flexibilidade maior de alterar propriedades
        diversas como alinhamento, espaçamento, posição etc dos elementos (itens) dentro do 
        container com essa atribuição de display. 
PADDING: 
    ATENÇÃO: quando vc coloca um padding com a largura do elemento ja definida,
    o padding não vai diminuir o espaço interno do elemento para criar o espaço. 
    Ele funciona aumentando o espaço total para que o respiro aconteça 
    (de forma default do navegador)
*/