.button-arrow {
    background-color: #E6626F;
    box-shadow: 5px 5px 0 black;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 80ms cubic-bezier(.49,.41,.43,2.63), background-color 50ms linear;
}

.button-arrow:hover {
    background-color: #edc68e;
    transform: scale(1.05);
    color: #FFF;
}

.button-arrow:active {
    transform: scale(1.0); 
    background-color: #E6626F;
    color: #FFF;
}

.button-arrow:hover:not(:active) {
    transition-delay: 80ms;
}


.button-arrow .content {
    display: none;
}

.button-arrow::before {
    content:'';
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 25px solid white;
    transform: translateX(7px);

}

.button-arrow.-left::before {
    transform: rotate(180deg) translateX(10px);
}

@media screen and (max-width:1500px) {
    .button-arrow {
        box-shadow: 0.7vw 0.7vw 0 black;
        width: 7vw;
        height: 7vw;

    }

    .button-arrow::before {
        width: 2vw;
        height: 2vw;
        border: 2vw solid transparent;
        border-left: 3vw solid white;
        transform: translateX(1.5vw);
    
    }

    .button-arrow.-left::before {
        transform: rotate(180deg) translateX(1.5vw);
    }

}