.caroussel-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 60px;
}

.caroussel-section::after {
    content: '';
    box-sizing: border-box;
    width: calc(100% - 80px);
    height: 0;
    border: 2.5px solid #000;
    position: absolute;
    bottom: 190px;
    left: 40px;
}

.caroussel-section::before {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 0;
    border: 2.5px dashed #000;
    position: absolute;
    bottom: 190px;
    left: 0;
}

.caroussel-section .button-arrow {
    position: absolute;
    bottom: 50px;
}

.caroussel-section .button-arrow.-right {
    right: 15px;
}
.caroussel-section .button-arrow.-left {
    left: 15px;
}

@media screen and (max-width: 1500px) {
    .caroussel-section .button-arrow {
        position: absolute;
        bottom: 9vw;
    }

    .caroussel-section {
        margin-top: 0;
    }
    
}