.main-title {
    color: #E6626F;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 40px;
    text-shadow: 5px 5px 0 black;
    text-align: center;
}

.main-title.-second {
    color: white;
    text-shadow: none;
}