.main-text {
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.3;
}

.main-section.-sobre .main-text {
    max-width: 1280px;
    min-height: 312px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1500px) {
    .main-section.-sobre .main-text {
        padding-left: 5vw;
        padding-right: 5vw; 
        font-size: 3.5vw;   
        margin-top: 2vw;
        min-height: 10vw;
    }
    
}