.main-button {
    display: inline-block;
    background-color: #E6626F;
    height: 60px;
    width: 170px;
    padding: 0 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
    text-align: center;
    transition: transform 80ms cubic-bezier(.49,.41,.43,2.63), background-color 50ms linear;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #FFF;
}

.main-button:hover {
    background-color: #edc68e;
    transform: scale(1.05);
    color: #FFF;
}

.main-button:active {
    transform: scale(1.0); 
    background-color: #E6626F;
    color: #FFF;
}

.main-button:hover:not(:active) {
    transition-delay: 80ms;
}
