.main-section {
    padding: 60px;
    scroll-margin-top: 92px; /* Compensa a altura da barra fixa */
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-skills {
    background-color: #E6626F;
    border-bottom: 10px solid #4c838d;
}

.main-section.-project {
    background-color: black;
    border-bottom: 10px solid #E6626F;
}

.main-section.-sobre {
    background-color: #7C5E99;
    border-bottom: 10px solid black;
    padding-right: 0;
    padding-left: 0;
}

.main-section.-sobre .main-text {
    margin-top: 60px;
}

.main-section.-contatos {
    background-color: #3A4042;
}