.progress-bar {
    box-sizing: border-box;
    background-color: #FFF;
    border: 5px solid black;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
}

/* Keyframes específicos para cada barra */

@keyframes progress-html {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}

@keyframes progress-css {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}

@keyframes progress-javascript {
    from {
        width: 0;
    }
    to {
        width: 64%;
    }
}

@keyframes progress-react {
    from {
        width: 0;
    }
    to {
        width: 15%;
    }
}

@keyframes progress-nodejs {
    from {
        width: 0;
    }
    to {
        width: 61%;
    }
}

@keyframes progress-tdd {
    from {
        width: 0;
    }
    to {
        width: 35%;
    }
}

@keyframes progress-restapi {
    from {
        width: 0;
    }
    to {
        width: 73%;
    }
}

@keyframes progress-ux {
    from {
        width: 0;
    }
    to {
        width: 43%;
    }
}

/* Aplicando animações específicas ss*/

.progress-html {
    animation: progress-html 0.8s ease-in-out forwards;
    height: 100%;
    background-color: #4c838d;
    width: 0;
}

.progress-css {
    animation: progress-css 0.8s ease-in-out forwards;
    height: 100%;
    background-color: #4c838d;
    width: 0;
}

.progress-javascript {
    animation: progress-javascript 0.8s ease-in-out forwards;
    height: 100%;
    background-color: #4c838d;
    width: 0;
}

.progress-react {
    animation: progress-react 0.8s ease-in-out forwards;
    height: 100%;
    background-color: #4c838d;
    width: 0;
}

.progress-nodejs {
    animation: progress-nodejs 0.8s ease-in-out forwards;
    height: 100%;
    background-color: #4c838d;
    width: 0;
}

.progress-tdd {
    animation: progress-tdd 0.8s ease-in-out forwards;
    height: 100%;
    background-color: #4c838d;
    width: 0;
}

.progress-restapi {
    animation: progress-restapi 0.8s ease-in-out forwards;
    height: 100%;
    background-color: #4c838d;
    width: 0;
}

.progress-ux {
    animation: progress-ux 0.8s ease-in-out forwards;
    height: 100%;
    background-color: #4c838d;
    width: 0;
}
