.project-card {
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card.-firedlabs {
    background-color: #7C5E99;
}

.project-card.-collabcode {
    background-color: #4C5B84;
}

.project-card.-portifolio {
    background-color: #E6626F;
}

@media screen and (max-width: 1500px) {
    .project-card {
        width: 27vw;
        height: 27vw;
        box-shadow: 0.7vw 0.7vw 0 white;
    }

    .project-card img {
        width: 27vw;
        height: 27vw;
    }
    
}