.title-box{
    display: inline-block ;
    background-color: #3A4042;
    padding: 42px 44px;
    box-shadow: 10px 10px 0 black;
    text-align: center;
}

.title-box h1 {
    margin-bottom: 2vw;
}

@media screen and (max-width: 1500px) {
    .title-box {
        padding: 2vw;
        box-shadow: 1.2vw 1.2vw 0 black;
        margin-top: 0;
        height: 20vw;
    }

    .title-box .main-title {
        font-size: 5vw;
        line-height: 7vw;
        text-shadow: 0.7vw 0.7vw 0 black;
    }
    
    .title-box .main-subtitle {
        font-size: 3vw;
        line-height: 4vw;
        text-shadow: 0.7vw 0.7vw 0 black;
    }

}


/* ANTES DE TENTAR O FLEX OU INLINE-FLEX COMO DISPLAY TENTE O INLINE-BLOCK.. 
GERALMENTE ELE RESOLVE BASTANTE COISA JA
*/