h1 {
    color: #E6626F;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 40px;
    text-shadow: 5px 5px 0 black;
}

#banner {
    display: inline-flex;
    padding: 80px;
    flex-direction: column;
}

#bannernav {
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

#bannerimg {
    display: flex;
    background-image: url(assets/img/photobanner.png);
}

