.title {
    display: inline-flex;
    background-color: #3A4042;
    padding: 20px 40px;
    box-shadow: 10px 10px 0 black;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-weight: 400;
    align-items: center;
    flex-direction: column;
    text-shadow: 5px 5px 0 black;
    
}

h1 {
    color: #E6626F;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 40px;
}

h2 {
    color: #FFF;
    font-size: 30px;
    line-height: 30px;
}

.banner {
    display: inline-flex;
    padding: 80px;
    flex-direction: column;
}

#bannernav {
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

#bannerimg {
    display: flex;
    background-image: url(assets/img/photobanner.png);
}

.button {
    display: inline-block;
    background-color: #E6626F;
    height: 60px;
    width: 170px;
    padding: 0 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
    text-align: center;
    transition: transform 80ms cubic-bezier(.49,.41,.43,2.63), background-color 80ms linear;
}

.button:hover {
    background-color: #edc68e;
    transform: scale(1.08);
    color: #FFF;
}
